/*Organizing the entire site in boxes*/
* {
    box-sizing: border-box;
}

/*Font adjustment*/
@font-face {
    font-family: Hanken Grotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/*Site adjustments*/
body {
    background-color: white;
    font-family: Hanken Grotesk;
}
/*Cards division*/
.leftcard, .rightcard {
    float: left;
    width: 50%;
}

/*Left card align*/
.leftcard {
    text-align: center;
}


/*Right card adjustments*/
.lighter {
    float: left;
}

.bold {
    float: left;
    font-weight: bold;
}

/*Scores division*/
.category {
    float: left;
    width: 50%;
    padding-left: 10px;
}

/*Button adjustment*/
.continue {
    text-decoration: none;
    width: 35vw;
    text-align: center;
}